		<footer>
		  <div class="container">
		    <div class="row">
		      <div class="col-12 col-lg-6 offset-lg-3 ian-photo text-center">
		        <div class="row">
		          <div class="col-12 contact-icons">
		            <br />
		            <a class="social" href="mailto:admin@ians.studio">
		              <i class="fa fa-envelope" aria-hidden="true"></i>
		            </a>
		            <a class="social" href="tel:1-250-204-8402">
		              <i class="fa fa-phone" aria-hidden="true"></i>
		            </a>
		            <a class="social" href="sms:1-250-204-8402">
		              <i class="fa fa-comments" aria-hidden="true"></i>
		            </a>
		            <a class="social" href="https://github.com/ianrandmckenzie">
		              <i class="fa fa-github" aria-hidden="true"></i>
		            </a>
		            <a class="social" href="https://dribbble.com/ianrandmckenzie">
		              <i class="fa fa-dribbble" aria-hidden="true"></i>
		            </a>
		          </div>
		        </div>
		        <img class="img-fluid" src="images/ian.png" alt="Photograph of Ian McKenzie, split with a photograph of Ian McKenzie standing on a rocky Quadra Island (British Columbia) beach" />
		        <p class="copy">
		          ians.studio &copy; ian rand mckenzie 2018
		        </p>
		      </div>
		    </div>
		  </div>
		</footer>
    </main>
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/popper.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/bundle.js"></script>
  </body>
</html>