<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12 info">
      <h1>
        Ian's Miscellaneous Projects<span class="green">:</span>
      </h1>
      <h2>
        An assortment of projects I did for fun.
      </h2>
      <h4>Ilya Treleaven</h4>
      <p>Ilya Treleaven is a Vancouver Island illustrator and concept artist. We met eachother when I was taking a drawing class as an elective in my last year at North Island College. I loved his work and offered to create a web presence.</p>
      <p><a href="/ilyatreleaven">Click here to visit the page I made for him.</a></p>
    </div>
  </div>
</div>
