<div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-12 info">
      <h1>
        Ian's Miscellaneous Projects<span class="green">:</span>
      </h1>
      <h2>
        An assortment of projects I did for fun.
      </h2>

      <h4>Ilya Treleaven</h4>
      <p>Ilya Treleaven is a Vancouver Island illustrator and concept artist. We met eachother when I was taking a drawing class as an elective in my last year at North Island College. I loved his work and offered to create a web presence.</p>
      <p><a href="https://ilya.ians.studio">Click here to visit the page I made for him.</a></p>

      <h4>Starflies Rick</h4>
      <p>In the summer of 2017 I was at the beginning stages of being completely burned out by <a href="https://ians.studio/articles/stridr-post-mortem">Stridr</a>. I needed a break, I needed to exercise the other half of my brain. This page was the result of that.</p>
      <p><a href="https://rick.ians.studio">Click here to visit the "Starflies Rick" page.</a></p>

      <h4>Typography Basics</h4>
      <p>My second ever graphic design project involved creating a fictional poster for The Cooper Union's annual typography conference. I decided I wanted my poster to have a QR code. This page is where the QR code goes to; a website about the basics of typography. The website's designs are centered entirely around the poster.</p>
      <p><a href="https://typebasics.ians.studio">Click here to visit the Type Basics website.</a></p>
    </div>
  </div>
</div>
