<nav id="nav" class="navbar navbar-light navbar-expand-sm bg-faded fixed-top" style="background-color:#eff4f0;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><img src="images/irm-logo.png" alt="Logo for Ian McKenzie" class="img-fluid" style="max-height:50px;"></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://ians.studio">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Professional
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="https://objektiv.digital">Contract Work</a>
          <a class="nav-link" href="https://ians.studio/articles?topic=professional">Blog</a>
          <a class="nav-link" href="https://ians.studio/professional_links">Links</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Schizophrenia
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="https://ians.studio/articles?topic=schizophrenia">Blog</a>
          <a class="nav-link" href="https://ians.studio/schizophrenia_links">Links</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://ians.studio/shop_items">Shop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://misc.ians.studio">Misc.</a>
      </li>
    </ul>
  </div>
</nav>